<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/app.css")
    
  body
    header
      .header-principal.section-container
        .header-box-1
          a.icon-social(href="#")
            span.fa.fa-facebook
          a.icon-social(href="#")
            span.fa.fa-instagram
          a.icon-social(href="#")
            span.fa.fa-whatsapp

        a.header-box-2(href="/")
          img(src="img/Logo-Rojas-Negro.png", alt="hotel rojas")
        .header-box-3
          a.link-phone(href="#") 
            span.fa.fa-phone 
            span +51 985550568
          a.link-phone(href="#")
            span.fa.fa-phone
            span +51944060967
          
          .header-translate
            a.header-lang-link(href="#")
              img.header-lang-img(src="img/lang-esopain.png", alt="español hotel rojas")
            a.header-lang-link(href="#")
              img.header-lang-img(src="img/lang-english.png", alt="ingles hotel rojas")
      
      .icon-hamburger
        span.fa.fa-bars#icon-hamburger
       
        img.header-logo(src="img/Logo-Rojas-Negro.png", alt="logo Hotel Rojas")
        .header-language
          a.header-lang-link(href="#")
            img.header-lang-img(src="img/lang-esopain.png", alt="español hotel rojas")
          a.header-lang-link(href="#")
            img.header-lang-img(src="img/lang-english.png", alt="ingles hotel rojas")

    nav.menu#navmenu
        ul.menu-ul.section-container
          li.menu-item
            a.menu-link(href="#")   Nosotros
          li.menu-item
            a.menu-link(href="#")   Habitaciones y precios
          li.menu-item
            a.menu-link(href="#")   Promociones
          li.menu-item
            a.menu-link(href="#")   Servicios
          li.menu-item
            a.menu-link(href="#")   Galeria
          li.menu-item
            a.menu-link(href="#")   Ubicación 
          li.menu-item.menu-item__contact
            a.menu-link(href="#")   Contacto

    main.main
      block content
     
    
      footer.footer-principal.section-container
        span.footer-line
        .footer-content
          .footer-section
            a.icon-social(href="#")
              i.fa.fa-facebook
            a.icon-social(href="#")
              i.fa.fa-instagram
            a.icon-social(href="#")
              i.fa.fa-whatsapp
          .footer-section
            a.link-phone(href="#") +51 985 550 568
            a.link-phone(href="#") +51 944 060 967
          .footer-section
            p.text-p Calle Tigre 129, Cusco
          .footer-section
            p.text-p info@hotelrojascusco.com
            p.text-p reserva@hotelrojascusco.com
    script(src="js/app.js")