@mixin container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding;
  padding-right: $padding;
}

@mixin centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}