extends pug/layout.pug
append content
  section.banner
    img.banner-img(src="img/slider-1.jpg", alt="banner restaurante rojas")
    .banner-capa
    .title
      h2.title1 Habitaciones
      span.title-line
  section.habitaciones-page.section-container
    .habitaciones-page__aside
      .aside-form
        form.slider-form(action="#")
          .form-content
            label.form-label(for="#ingreso") Ingreso
            input(type="date" id="ingreso")
            label.form-label(for="#salida") Salida
            input(type="date" id="salida")
            label.form-label(for="#adultos") Adultos
            input(type="number" id="adultos" value="1")
            label.form-label(for="#ninos" ) Niños
            input(type="number" id="ninos" value="0")
            input(type="submit" value="BUSCAR")
      .aside-direction

        .aside-box
          span.fa.fa-location-arrow
          span.text-p Calle Tigre Nº 129, Cusco
        .aside-box
          span.fa.fa-phone
          a(href="tel:+51985550568")   985550568 - 
          a(href="tel:+51999459290")   999459290
        .aside-box
          span.fa.fa-envelope
          span.text-p  reservas@hotelrojascusco.com
        
    .habitaciones-page__content
      .slider
        .slider-content#sliderContent
          img.slider-img(src="img/slider-1.jpg", alt="")
          img.slider-img(src="img/slider-2.jpg", alt="")
          img.slider-img(src="img/slider-3.jpg", alt="")
          img.slider-img(src="img/slider-4.jpg", alt="")
        .slider-buttoms 
          a.slider-prev#sliderPrev &#10094;
          a.slider-next#sliderNext &#10095;

      .habitaciones-price
        span.text-p Precios desde:
        .habitaciones-price__box
          span $130.00
      p.text-p This main room has a 25 m2 space, and a balcony overlooking the historical streets which allows you to enjoy and above all be in contact with our historic city. The room also has an impressive interior decoration to the colonial style of the eighteenth century, It has King size bed, Flat screen TV, cable, telephone, heater, hair dryer, mini-bar, safe. Bathroom with Jacuzzi.
      
      iframe.contact-mapa(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d815.529666733637!2d-71.98079060510096!3d-13.515038082740537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916dd673cdcb8c29%3A0x88d9eff9362e5579!2sHotel%20Rojas%20Inn!5e0!3m2!1ses!2spe!4v1604780655354!5m2!1ses!2spe"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")

  