extends pug/layout.pug
append content
  section.banner
    img.banner-img(src="img/slider-1.jpg", alt="banner restaurante rojas")
    .banner-capa
    .title
      h2.title1 Habitaciones y Precios
      span.title-line
  section.habitaciones-page.section-container
    .habitaciones-page__aside
      .aside-form
        form.slider-form(action="#")
          .form-content
            label.form-label(for="#ingreso") Ingreso
            input(type="date" id="ingreso")
            label.form-label(for="#salida") Salida
            input(type="date" id="salida")
            label.form-label(for="#adultos") Adultos
            input(type="number" id="adultos" value="1")
            label.form-label(for="#ninos" ) Niños
            input(type="number" id="ninos" value="0")
            input(type="submit" value="BUSCAR")
      .aside-direction

        .aside-box
          span.fa.fa-location-arrow
          span.text-p Calle Tigre Nº 129, Cusco
        .aside-box
          span.fa.fa-phone
          a(href="tel:+51985550568")   985550568 - 
          a(href="tel:+51999459290")   999459290
        .aside-box
          span.fa.fa-envelope
          span.text-p  reservas@hotelrojascusco.com
        
    .habitaciones-page__content
      h2.title1 Habitaciones
      span.title-line
      .price-rooms__content
        each val in [1, 2, 3, 4, 5]
          .box-content 
            .box-content__section
              img(src="img/slider-1.jpg", alt="")
            .box-content__section
              h3.title-box SUITE ROJAS
              p.text-p Esta habitación principal tiene un espacio de 25 m2, con una decoración interior impresionante al estilo colonial del siglo...
              //- .box-servicios
                //- img.alignnone.size-medium.wp-image-322(src='http://localhost/hotel%20rojas%20cusco/wp-content/uploads/2018/05/cleaning.png', alt='', width='24', height='24')
                //- |  Daily cleaning service
                //- img.alignnone.size-medium.wp-image-324(src='http://localhost/hotel%20rojas%20cusco/wp-content/uploads/2018/05/hair.png', alt='', width='24', height='24')
                //- |  Hair dryer
                //- img.alignnone.size-medium.wp-image-327(src='http://localhost/hotel%20rojas%20cusco/wp-content/uploads/2018/05/monitor.png', alt='', width='24', height='24')
                //- | &nbsp; Cable TV
                //- img.alignnone.size-medium.wp-image-328(src='http://localhost/hotel%20rojas%20cusco/wp-content/uploads/2018/05/old.png', alt='', width='24', height='24')
                //- |  Phone
                //- img.alignnone.size-medium.wp-image-329(src='http://localhost/hotel%20rojas%20cusco/wp-content/uploads/2018/05/radiator.png', alt='', width='24', height='24')
                //- |  Heating
                //- img.alignnone.size-medium.wp-image-330(src='http://localhost/hotel%20rojas%20cusco/wp-content/uploads/2018/05/safe.png', alt='', width='24', height='24')
                //- |  Personal Safe
                //- img.alignnone.size-medium.wp-image-331(src='http://localhost/hotel%20rojas%20cusco/wp-content/uploads/2018/05/wifi-1.png', alt='', width='24', height='24')
                //- |  Internet Access
              .iconosCategorias
                  ul
                    li
                      img.alignnone.size-full.wp-image-319(src='http://www.hotelrojascusco.com/wp-content/uploads/2018/05/balcony.png', alt='', width='24', height='24')
                      | &nbsp;Balc&oacute;n
                    li
                      img.alignnone.size-medium.wp-image-320(src='http://www.hotelrojascusco.com/wp-content/uploads/2018/05/bath.png', alt='', width='24', height='24')
                      | &nbsp;Ba&ntilde;o con tina
                    li
                      img.alignnone.size-medium.wp-image-321(src='http://www.hotelrojascusco.com/wp-content/uploads/2018/05/bathrobe.png', alt='', width='24', height='24')
                      | &nbsp;Albornoces
                    li
                      img.alignnone.size-medium.wp-image-322(src='http://www.hotelrojascusco.com/wp-content/uploads/2018/05/cleaning.png', alt='', width='24', height='24')
                      |  Servicio&nbsp;diario de limpieza
                    li
                      img.alignnone.size-medium.wp-image-324(src='http://www.hotelrojascusco.com/wp-content/uploads/2018/05/hair.png', alt='', width='24', height='24')
                      | &nbsp;Secador de pelo
                    li
                      img.alignnone.size-medium.wp-image-326(src='http://www.hotelrojascusco.com/wp-content/uploads/2018/05/minibar.png', alt='', width='24', height='24')
                      | &nbsp;Frigor&iacute;fico/minibar
                    li
                      img.alignnone.size-medium.wp-image-327(src='http://www.hotelrojascusco.com/wp-content/uploads/2018/05/monitor.png', alt='', width='24', height='24')
                      | &nbsp;TV por cable
                    li
                      img.alignnone.size-medium.wp-image-328(src='http://www.hotelrojascusco.com/wp-content/uploads/2018/05/old.png', alt='', width='24', height='24')
                      | &nbsp;Tel&eacute;fono
                    li
                      img.alignnone.size-medium.wp-image-329(src='http://www.hotelrojascusco.com/wp-content/uploads/2018/05/radiator.png', alt='', width='24', height='24')
                      | &nbsp;Calefacci&oacute;n
                    li
                      img.alignnone.size-medium.wp-image-330(src='http://www.hotelrojascusco.com/wp-content/uploads/2018/05/safe.png', alt='', width='24', height='24')
                      | &nbsp;Caja fuerte
                    li
                      img.alignnone.size-medium.wp-image-331(src='http://www.hotelrojascusco.com/wp-content/uploads/2018/05/wifi-1.png', alt='', width='24', height='24')
                      | &nbsp;Acceso a Internet

              
            .box-content__section
              .box-price
                span $130.00
              .box-btn
                a.box-btn__link(href="#") Muestrame Más 
                span.fa.fa-angle-double-right

        iframe.contact-mapa(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d815.529666733637!2d-71.98079060510096!3d-13.515038082740537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916dd673cdcb8c29%3A0x88d9eff9362e5579!2sHotel%20Rojas%20Inn!5e0!3m2!1ses!2spe!4v1604780655354!5m2!1ses!2spe"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
      