extends pug/layout.pug
append content
  section.slider
    .slider-content#sliderContent
      img.slider-img(src="img/slider-1.jpg", alt="")
      img.slider-img(src="img/slider-2.jpg", alt="")
      img.slider-img(src="img/slider-3.jpg", alt="")
      img.slider-img(src="img/slider-4.jpg", alt="")
    .slider-buttoms 
      a.slider-prev#sliderPrev &#10094;
      a.slider-next#sliderNext &#10095;
    .slider-capa
      form.slider-form(action="#")
        .form-content
          label.form-label(for="#ingreso") Ingreso
          input(type="date" id="ingreso")
          label.form-label(for="#salida") Salida
          input(type="date" id="salida")
          label.form-label(for="#adultos") Adultos
          input(type="number" id="adultos" value="1")
          label.form-label(for="#ninos" ) Niños
          input(type="number" id="ninos" value="0")
          input(type="submit" value="BUSCAR")

  

  section.habitaciones.section-container
    h2.title1 Habitaciones
    span.title-line
    .habitaciones-content
      .habitaciones-box
        a(href="#")
          img.habitaciones-img(src="img/suiteRojas1.jpg", alt="")
          span.capa
          h3.habitaciones-text Suite junior
      .habitaciones-box
        a(href="#")
          img.habitaciones-img(src="img/suiteRojas1.jpg", alt="")
          span.capa
          h3.habitaciones-text Suite junior
      .habitaciones-box
        a(href="#")
          img.habitaciones-img(src="img/suiteRojas1.jpg", alt="")
          span.capa
          h3.habitaciones-text Suite junior
  section.packages.section-container
    
    h2.title1 Promociones
    span.title-line
    .package-content
      .packages-box
        .package-box__img
          img.package-img(src="img/hotel-rojas-package.jpg", alt="hotel rojas") 
          .package-box-capa.capa
          h3.package-title Reserva anticipada
        .description
          p.text-p Con Hotel Rojas siempre es facil !!! Código de descuento para reservas desde la pagina web ROJAS25 reserve con un minimo de 30 dias de antelación en el hotel rojas
        a.package-bnt(href="#") Ver mas...
      .packages-box
        .package-box__img
          img.package-img(src="img/hotel-rojas-package.jpg", alt="hotel rojas") 
          .package-box-capa.capa
          h3.package-title Reserva anticipada
        .description
          p.text-p Reserve un minimo de 4 noches en el Hotel Rojas inn o 4 noches en Casa Hostal Rojas y obtenga un 20% de descuento en la mejor tarifa de... 
        a.package-bnt(href="#") Ver mas...
      .packages-box
        .package-box__img
          img.package-img(src="img/hotel-rojas-package.jpg", alt="hotel rojas") 
          .package-box-capa.capa
          h3.package-title Reserva anticipada
        .description
          p.text-p Obtenga un 30% de descuento en la mejor tarifa disponible cuando reserve su estancia a través de nuestro sitio web www.hotelrojascusco.com utilizando el código de promoción ROJAS30TB y click  aqui...
        a.package-bnt(href="#") Ver mas...
  section.servicios.section-container
    h2.title1 Nuestros Servicios
      span.title-line
  section.restaurante.section-container
    .restaurante-content
      img.restaurante-img(src="img/restaurante-buffet-hotel-cusco.jpg", alt="Restaurante hotel rojas")
      .restaurante-box
        h2.title1 Restaurante
        span.title-line
        p.text-p Hotel Rojas Inn le ofrece un exquisito y variado desayuno buffer gratis con su reserva de frutas variadas de acuerdo a la estación diferentes tipos de pan, selectos jamones, cereales, mermeladas, jugos y otros productos tipicos de nuestra region