extends pug/layout.pug
append content
  section.slider
    .slider-content#sliderContent
      img.slider-img(src="img/slider-1.jpg", alt="")
      img.slider-img(src="img/slider-2.jpg", alt="")
      img.slider-img(src="img/slider-3.jpg", alt="")
      img.slider-img(src="img/slider-4.jpg", alt="")
    .slider-buttoms 
      a.slider-prev#sliderPrev &#10094;
      a.slider-next#sliderNext &#10095;
    .slider-capa
      form.slider-form(action="#")
        .form-content
          label.form-label(for="#ingreso") Ingreso
          input(type="date" id="ingreso")
          label.form-label(for="#salida") Salida
          input(type="date" id="salida")
          label.form-label(for="#adultos") Adultos
          input(type="number" id="adultos" value="1")
          label.form-label(for="#ninos" ) Niños
          input(type="number" id="ninos" value="0")
          input(type="submit" value="BUSCAR")

  
  section.bienvenidos-hotel.section-container
    .restaurante-content
      div
        .wp-caption.alignnone(style='width: 310px')
          img.image.wp-image-1224.attachment-medium.size-medium(width='300', height='133', src='img/restaurante-buffet-hotel-cusco.jpg', alt='', loading='lazy', style='max-width: 100%; height: auto;', srcset='img/restaurante-buffet-hotel-cusco.jpg 300w, http://hotel_rojas_cusco.test/wp-content/uploads/2019/02/Premio-Hotel-Rojas-Inn-IN-768x341.jpg 768w, http://hotel_rojas_cusco.test/wp-content/uploads/2019/02/Premio-Hotel-Rojas-Inn-IN-1024x454.jpg 1024w, http://hotel_rojas_cusco.test/wp-content/uploads/2019/02/Premio-Hotel-Rojas-Inn-IN-600x266.jpg 600w, http://hotel_rojas_cusco.test/wp-content/uploads/2019/02/Premio-Hotel-Rojas-Inn-IN.jpg 1922w', sizes='(max-width: 300px) 100vw, 300px')
          p.wp-caption-text Awards given by DIRCETUR
      .restaurante-box
        .restaurante-box
          h2.title1 Suite Matrimonial
          span.title-line
          .textwidget
            ul
              li.suitsuitsuit
                a(href='https://www.hotelrojascusco.com/en/suite-rojas') SUITE ROJAS
              li.suitsuitsuit
                a(href='https://www.hotelrojascusco.com/en/suit-junior') SUITE JUNIOR
            p A matrimonial room a private place where you rest in tranquility and privacy just like at home. Each room
          
            p  is soundproofed so that you can enjoy your stay without being disturbed by the city noise.

  section.habitaciones.section-container
    h2.title1 Habitaciones
    span.title-line
    .habitaciones-content
      .habitaciones-box
        a(href="#")
          img.habitaciones-img(src="img/suiteRojas1.jpg", alt="")
          span.capa
          h3.habitaciones-text Suite junior
      .habitaciones-box
        a(href="#")
          img.habitaciones-img(src="img/suiteRojas1.jpg", alt="")
          span.capa
          h3.habitaciones-text Suite junior
      .habitaciones-box
        a(href="#")
          img.habitaciones-img(src="img/suiteRojas1.jpg", alt="")
          span.capa
          h3.habitaciones-text Suite junior
  section.packages.section-container
    
    h2.title1 Promociones
    span.title-line
    .package-content
      .packages-box
        .package-box__img
          img.package-img(src="img/hotel-rojas-package.jpg", alt="hotel rojas") 
          .package-box-capa.capa
          h3.package-title Reserva anticipada
        .description
          p.text-p Con Hotel Rojas siempre es facil !!! Código de descuento para reservas desde la pagina web ROJAS25 reserve con un minimo de 30 dias de antelación en el hotel rojas
        a.package-bnt(href="#") Ver mas...
      .packages-box
        .package-box__img
          img.package-img(src="img/hotel-rojas-package.jpg", alt="hotel rojas") 
          .package-box-capa.capa
          h3.package-title Reserva anticipada
        .description
          p.text-p Reserve un minimo de 4 noches en el Hotel Rojas inn o 4 noches en Casa Hostal Rojas y obtenga un 20% de descuento en la mejor tarifa de... 
        a.package-bnt(href="#") Ver mas...
      .packages-box
        .package-box__img
          img.package-img(src="img/hotel-rojas-package.jpg", alt="hotel rojas") 
          .package-box-capa.capa
          h3.package-title Reserva anticipada
        .description
          p.text-p Obtenga un 30% de descuento en la mejor tarifa disponible cuando reserve su estancia a través de nuestro sitio web www.hotelrojascusco.com utilizando el código de promoción ROJAS30TB y click  aqui...
        a.package-bnt(href="#") Ver mas...
  section.servicios.section-container
    h2.title1 Nuestros Servicios
      span.title-line
  section.restaurante.section-container
    .restaurante-content
      img.restaurante-img(src="img/restaurante-buffet-hotel-cusco.jpg", alt="Restaurante hotel rojas")
      .restaurante-box
        h2.title1 Restaurante
        span.title-line
        p.text-p Hotel Rojas Inn le ofrece un exquisito y variado desayuno buffer gratis con su reserva de frutas variadas de acuerdo a la estación diferentes tipos de pan, selectos jamones, cereales, mermeladas, jugos y otros productos tipicos de nuestra region
    h2.title1 Ubicanos
    span.title-line

    iframe.contact-mapa(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d815.529666733637!2d-71.98079060510096!3d-13.515038082740537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916dd673cdcb8c29%3A0x88d9eff9362e5579!2sHotel%20Rojas%20Inn!5e0!3m2!1ses!2spe!4v1604780655354!5m2!1ses!2spe"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")