extends pug/layout.pug
append content

  section.banner
    img.banner-img(src="img/slider-1.jpg", alt="banner restaurante rojas")
    .banner-capa
    .title
      h2.title1 Nosotros
      span.title-line
  section.nosotros.section-container
    h2.title1 Nuestra Historia
    span.title-line
    .nosotros-content
      img.nosotros-img(src="img/grupo-nosotros.jpg", alt="nosotros")
      .nosotros-text
        p.text-p Encanto y misterio encierra esta hermosa casona colonial del siglo XVIII perteneciente al Marqués de La Plata y a inicios del siglo XIX perteneció al monasterio de Santa Teresa de Jesús.
        p.text-p Construida sobre arquerías de piedra natural y restaurada manteniendo su poder místico; hoy acoge al visitante ofreciéndole momentos mágicos en un entorno inolvidable porque entendemos todas sus necesidades.
        p.text-p Nuestro espíritu de servicio hace de su estadía una experiencia histórica. Ubicado estratégicamente en el centro mismo de la Capital Histórica del Perú a solo 50 metros de la pintoresca Plaza Principal –véase ubicación- El Hotel Rojas Inn le permite acceder fácilmente al centro financiero y cultural de la Región y le acerca en solo 3 minutos al parque arqueológico de SAQSAYWAMAN, y a solo 100 metros de la famosa Avenida El Sol. 
        p.text-p El Hotel Rojas Inn de dos estrellas le ofrece una estancia agradable y accesible muy cerca de las principales atracciones de la Ciudad de Cusco. Situado en la zona del centro histórico, donde las diferentes culturas urbanas se fusionan para formar el mejor ambiente de la ciudad.
        p.text-p Todos los días se sirve un desayuno buffet completo con zumos naturales, frutas tropicales, variedad de panes en nuestro comedor decorado con elegantes muebles de madera colonial. El Hotel Rojas Inn dispone de habitaciones con TV por cable, baño privado.
        p.text-p En el Hotel Rojas Inn ** contamos con cómodas instalaciones para descansar y relajarte además de que estarás al pie de la zona preferida de los capitalinos y visitantes. Además de admirar la arquitectura colonial de principios del siglo XVIII de éste exclusivo Hotel de Cusco, podrás encontrar en alrededores centros turísticos, cafés y restaurantes, bares, centros culturales, galerías de arte, boutiques, parques y más para tener entretenimiento las 24 horas del día.
        p.text-p  Desde nuestra ubicación podrás llegar caminando o en transporte a las atracciones más importantes de la Ciudad, ya que estamos a una cuadra del centro principal de la ciudad y a sólo unos pasos de la majestuosa catedral del Cusco. Lo esperamos.


      