extends pug/layout.pug
append content
  section.banner
    img.banner-img(src="img/slider-1.jpg", alt="banner restaurante rojas")
    .banner-capa
    .title
      h2.title1 Promoción
      span.title-line
  section.packages.section-container
    .package-content
      .packages-box
        .package-box__img
          img.package-img(src="img/hotel-rojas-package.jpg", alt="hotel rojas") 
          .package-box-capa.capa
          h3.package-title Reserva anticipada
        .description
          p.text-p Con Hotel Rojas siempre es facil !!! Código de descuento para reservas desde la pagina web ROJAS25 reserve con un minimo de 30 dias de antelación en el hotel rojas
        a.package-bnt(href="#") Ver mas...
      .packages-box
        .package-box__img
          img.package-img(src="img/hotel-rojas-package.jpg", alt="hotel rojas") 
          .package-box-capa.capa
          h3.package-title Reserva anticipada
        .description
          p.text-p Reserve un minimo de 4 noches en el Hotel Rojas inn o 4 noches en Casa Hostal Rojas y obtenga un 20% de descuento en la mejor tarifa de... 
        a.package-bnt(href="#") Ver mas...
      .packages-box
        .package-box__img
          img.package-img(src="img/hotel-rojas-package.jpg", alt="hotel rojas") 
          .package-box-capa.capa
          h3.package-title Reserva anticipada
        .description
          p.text-p Obtenga un 30% de descuento en la mejor tarifa disponible cuando reserve su estancia a través de nuestro sitio web www.hotelrojascusco.com utilizando el código de promoción ROJAS30TB y click  aqui...
        a.package-bnt(href="#") Ver mas...
  section.reserva-anticipada.section-container
    h2.title1 Reserva Anticipada
    span.title-line
    .reserva-description
      p.text-p Con Hotel Rojas siempre es facil !! Código de descuento para reservas desde la pagina web ROJAS25
      p.text-p  Reserve con un minimo de 30 días de antelación en el Hotel Rojas inn o en Casa Hostal Rojas y Obtenga  un descuento exclusivamente en www.hotelrojascusco.com Oferta valida para reservas realizadas en el sitio web oficial, hasta el final de la promoción  
    .otros-beneficios
      h2 Otros beneficios incluyen :
      ul
        li.text-p Wifi gratuito
        li.text-p  Desayuno 
        li.text-p  Transporte de cortesia desde aeropuerto al hotel
        h3 Terminos y condiciones
        li.text-p Las habitaciones estan sujetas a disponibilidad 
        li.text-p Reserva que se garantiza con una targeta de credito valida o deposito de la primera noche
        li.text-p  Cancelación de una noche de repetición  si se cancela 72 horas antes de la llegada 100 % cargos de retención 
        li.text-p  No show 100% de retención completa en caso de no show Valido para la venta solo en www.hotelrojascusco.com    