extends pug/layout.pug
append content
  section.banner
    img.banner-img(src="img/slider-1.jpg", alt="banner restaurante rojas")
    .banner-capa
    .title
      h2.title1 Reserva Anticipada
      span.title-line
  section.habitaciones-page.section-container
    .habitaciones-page__aside
      .aside-form
        form.slider-form(action="#")
          .form-content
            label.form-label(for="#ingreso") Ingreso
            input(type="date" id="ingreso")
            label.form-label(for="#salida") Salida
            input(type="date" id="salida")
            label.form-label(for="#adultos") Adultos
            input(type="number" id="adultos" value="1")
            label.form-label(for="#ninos" ) Niños
            input(type="number" id="ninos" value="0")
            input(type="submit" value="BUSCAR")
      .aside-direction

        .aside-box
          span.fa.fa-location-arrow
          span.text-p Calle Tigre Nº 129, Cusco
        .aside-box
          span.fa.fa-phone
          a(href="tel:+51985550568")   985550568 - 
          a(href="tel:+51999459290")   999459290
        .aside-box
          span.fa.fa-envelope
          span.text-p  reservas@hotelrojascusco.com
        
    .habitaciones-page__content
      p.text-p Con Hotel Rojas siempre es fácil!!! Código de descuento para reservas desde la pagina web ROJAS25 Reserve con un mínimo de 30 días de antelación en el Hotel Rojas Inn o en Casa Hostal Rojas y obtenga un descuento del 25% en la mejor tarifa de habitación disponible Exclusivamente en www.hotelrojascusco.com Oferta válida para reservas realizadas en el sitio web oficial, hasta el final de la promoción.
      .habitaciones-reserva-included
        ul
          h2.title2 Otros beneficios incluyen:
          li WIFI gratuito
          li Desayuno buffet gratuito
          li Transporte de cortesía desde el aeropuerto al hotel
          
          h2.title2 Términos y condiciones*:
          li Las habitaciones están sujetas a disponibilidad.
          li Reserva que se garantizará con una tarjeta de crédito válida o deposito de la primera noche.
          li Cancelación: una noche de retención si se cancela 72 horas antes de la llegada, 100% cargos de retención completa si se cancela dentro de las 72 horas
          li No Show: 100% cargos de retención completa en caso de no show
          li Válido para la venta solo en www.hotelrojascusco.com

      iframe.contact-mapa(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d815.529666733637!2d-71.98079060510096!3d-13.515038082740537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916dd673cdcb8c29%3A0x88d9eff9362e5579!2sHotel%20Rojas%20Inn!5e0!3m2!1ses!2spe!4v1604780655354!5m2!1ses!2spe"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
