extends pug/layout.pug
append content
  section.banner
    img.banner-img(src="img/slider-1.jpg", alt="banner restaurante rojas")
    .banner-capa
    .title
      h2.title1 Ubicación
      span.title-line
  section.ubicanos.section-container
    p.text-p Nos encontramos en el centro mismo de la Ciudad Imperial. A una cuadra del HOTEL ROJAS INN encontramos la imponente Plaza de Armas que alberga la majestuosa Catedral, la Compañía de Jesús -Templo emblemático de Cusco- y la Capilla de la Sagrada Familia hermosa muestra de exquisita Arquitectura Colonial. Estamos Junto al Rectorado de la tricentenaria Universidad de Cusco y a dos cuadras de la Municipalidad Provincial . San Cristóbal y el Cristo Blanco (miradores de la ciudad) están a 3 y 5 minutos. La vía financiera (Bancos y Cajeros Automáticos) a dos cuadras de su preferido Hotel: el HOTEL ROJAS INN, y en solo 3 minutos apreciaremos el enigmático Saqsaywaman vibrante como Choquequiraw y Machupijchu.

    iframe.contact-mapa(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d815.529666733637!2d-71.98079060510096!3d-13.515038082740537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916dd673cdcb8c29%3A0x88d9eff9362e5579!2sHotel%20Rojas%20Inn!5e0!3m2!1ses!2spe!4v1604780655354!5m2!1ses!2spe"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
    